/.config/nvim
/.config/nvim.bak
/.config/gh/hosts.yml
/.config/fabric
/.config/JetBrains
.config/go
.config/wslu
.config/btop/btop.log

.opencommit
.sgptrc
.bash_history

# Ignore specific types of files
*.log
*.tmp
*.swp
*.bak
*.swo

# Ignore system-specific files
.DS_Store
.Thumbs.db
.AppleDouble
.LSOverride
ehthumbs.db
Desktop.ini
.directory

# Ignore backup files
*~

# Ignore environment variable files
.env
.env.local
.env.* # This will ignore any file with a .env prefix, such as .env.development, .env.production, etc.

# Ignore IDE and editor-specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Ignore Python virtual environments
venv/

# Ignore node_modules directory for Node.js projects
node_modules/

# Ignore compiled Python files
__pycache__/
*.py[cod]

# Ignore temporary files created by editors
*.pid
*.seed
*.pid.lock
*.lock

