# Sets user-defined palette
palette = "catppuccin_mocha"

format = """$character"""
right_format = """$directory$git_branch$git_status$git_state"""

add_newline = false

[line_break]
disabled = true

[character]
# Note the use of Catppuccin color 'maroon'
success_symbol = "[󰋑 ](teal)"
error_symbol = "[󰋔 ](red)"

[username]
#style_user = "white bold"
style_user = "mauve bold"
style_root = "red bold"
#format = "[$user]($style) "
#format = "[$user : ]($style)"
format = "[ ]($style)"
disabled = true
show_always = true

[directory]
truncation_length = 1
# Catppuccin 'lavender'
style = "bold mauve"
format = "[$path]($style)[$read_only]($read_only_style)"

[git_branch]
format = "|[$branch]($style)"
truncation_length = 6
truncation_symbol = "…"
style = "peach"

[git_status]
conflicted = "="
ahead = "⇡"
behind = "⇣"
diverged = "⇕"
untracked = "?"
stashed = "≡"
modified = "!"
staged = "[++($count)](green)"
renamed = "»"
deleted = "✘"
format = "[$all_status]($style)"

[git_state]
format = '([$state( $progress_current/$progress_total)]($style))'
style = "peach"

#[git_branch]
#symbol = ""
#style = "peach"
#format = "|[$symbol $branch]($style)"

#[git_status]
#style = "peach"
#format = "[($all_status$ahead_behind)]($style)"
#ahead = '⇡${count}'
#diverged = '⇕⇡${ahead_count}⇣${behind_count}'
#behind = '⇣${count}'


[palettes.catppuccin_mocha]
rosewater = "#f5e0dc"
flamingo = "#f2cdcd"
pink = "#f5c2e7"
mauve = "#cba6f7"
red = "#f38ba8"
maroon = "#eba0ac"
peach = "#fab387"
yellow = "#f9e2af"
green = "#a6e3a1"
teal = "#94e2d5"
sky = "#89dceb"
sapphire = "#74c7ec"
blue = "#89b4fa"
lavender = "#b4befe"
text = "#cdd6f4"
subtext1 = "#bac2de"
subtext0 = "#a6adc8"
overlay2 = "#9399b2"
overlay1 = "#7f849c"
overlay0 = "#6c7086"
surface2 = "#585b70"
surface1 = "#45475a"
surface0 = "#313244"
base = "#1e1e2e"
mantle = "#181825"
crust = "#11111b"
